#login_signup{
	display:flex;
	padding-top:2rem;
	justify-content:space-between;
}

#login_signup>div{
	width:47.5%;
	align-self: center;
}

#login_signup>div>form>div{
	display:flex;
	flex-direction:column;
}

#login_signup>div>form>div>input{
	width:80%;
	margin:auto;
	padding:0.75rem 0.75rem;
	border-radius:6px;
	border:2px solid #efefef;
	margin-top:5px;
	margin-bottom:5px;
}

#login_signup>div>form>div>button{
	width:50%;
	margin:auto;
	padding:0.75rem 1rem;
	margin-top:5px;
	margin-bottom:5px;
	border-radius:7.5px;
}